n8n/jobvarejo-canva-sync.json
{
  "name": "JobVarejo - Canva Templates Sync (30min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "A cada 30 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jobvarejo.com.br/api/canva/admin/sync-from-canva",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cron-secret",
              "value": "={{ $env.CRON_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "allowUnauthorizedCerts": false
        }
      },
      "id": "sync-canva",
      "name": "Sincronizar templates do Canva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.added }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "check-new",
      "name": "Tem novos templates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "resumo",
              "value": "=Sync Canva: {{ $json.added }} novos de {{ $json.total }} total ({{ $json.synced_at }})"
            }
          ]
        }
      },
      "id": "format-result",
      "name": "Formatar resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, -100]
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Sem novos templates",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 100]
    }
  ],
  "connections": {
    "A cada 30 minutos": {
      "main": [
        [{ "node": "Sincronizar templates do Canva", "type": "main", "index": 0 }]
      ]
    },
    "Sincronizar templates do Canva": {
      "main": [
        [{ "node": "Tem novos templates?", "type": "main", "index": 0 }]
      ]
    },
    "Tem novos templates?": {
      "main": [
        [{ "node": "Formatar resultado", "type": "main", "index": 0 }],
        [{ "node": "Sem novos templates", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "tags": [
    { "name": "canva" },
    { "name": "sync" },
    { "name": "cron" }
  ]
}
